/*name: Yana Kirova, ID: 16404534*/

body {
    background:url(../images/4.jpg) no-repeat fixed;
    font-family: 'Amiri', serif;
    font-weight: bold;
}

header {
    font-family: 'Tangerine', serif;
    font-size: 0em;
    line-height: 0.85;
    text-align: center;
    background-color: #ffccff;
    border: black;
}

footer {
    font-family: 'Amiri', serif;
    background-color: #ffccff;
}

b {
    font-size: 110px;
    animation: animation1 2s linear;
}

@keyframes animation1 {
  0% {
    color:#ffccff;
    }

 50%{
   color: #808080;
 }

 100% {
    color: black;
  }
}

i {
    font-size: 42px;
    animation: animation2 2s linear;
}

@keyframes animation2 {
  0% {
    color:#ffccff;
    }

 50%{
   color: #808080;
 }
 100% {
    color: black;
}
}

section {
    margin: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

img.home {                                  /*styles for images in homepage*/
    filter: grayscale(95%);
    border-radius: 50%;
    border: 4px solid black;
    width: 300px;
    heigh: 300px;
    box-shadow: rgba(0, 0, 0, 0.4) 10px 0px;
    display: block;
}

img.home:hover {
    filter: none;
    border: 4px solid #ffccff;
}

span {
    display: block;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
    padding: 4px 10px;
    color: black;
    font-size: 35px;
}

ul.menu {                                   /*navigation bar*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d9d9d9;
    border-radius: 15%;
    box-shadow: grey 10px 10px;
    border: 1px solid black;
}

li.menu {
    float: left;
    border-right: 1px solid black;
}

li.menu a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.menu a:hover {
    background-color: grey;
}

a.active {
    background-color: #ffccff;
}

img.icon {
    height: 18px;
    width: 21px;
}

div.form {                                         /*form*/
    display: flex;
    justify-content: space-around;
}
div.button {
  text-align: center;
}

form {
    margin: 20px;
    padding: 20px;
    height: 500px;
    width: 510px;
    background-color: #d9d9d9;
    border-radius: 5%;
    border: 1px solid black;
    box-shadow: grey 10px 10px;
}

form label {
    font-weight: bold;
    font-size: 21px;
    display: block;
    text-align: left;
}

form input {
    width: 92%;
    margin: 5px 1px 5px 1px;
    padding: 12px 20px;
    border: solid 1px black;
    resize: none
}

form div {
    text-align: center;
}

button {
    font-weight: bold;
    background-color: #ffccff;
    border-radius: 8%;
    color: black;
    padding: 10px 30px;
    text-align: center;
    font-size: 15px;
}

h2 {                                                /*cv*/
    border: 1px solid black;
    border-radius: 5%;
    text-align: center;
    background-color: #ffccff;
    font-size: 25px;
}

img.cv1 {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 10px 0px;
    height: 190px;
    width: 190px;
    border: 1px solid black;
}

section.maincontainer {
    background-color: #d9d9d9;
    border: 1px solid black;
    border-radius: 5%;
    display: flex;
    align-items: stretch;
    box-shadow: grey 10px 10px;
}

div.cvcontainer1 {
    border: 0px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    padding: 10px;
}

div.cvcontainer2 {
    border-left: 1px solid black;
    border-radius: %;
    display: flex;
    flex: 1 auto;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 5px;
    padding: 10px;
}

ul.cv {
    font-size: 17px;
    font-weight: bold;
    margin: 10;
    padding: 10;
    letter-spacing: 1px;
}

li.cv {
    list-style-type: disk;
    float: left;
    margin: auto;
}

li.date {
    list-style-type: none;
    float: right;
}

div.language {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.circle {
    background: green;
    border: 1px solid black;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

div.circle1 {
    background: none;
    border: 1px solid black;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

div.cvcontainer3 {                       /*bio*/
    border-left: 1px solid black;
    display: flex;
    flex: 1 auto;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    text-align: center;
    margin: 5px;
    padding: 10px;
}

div.cvcontainer4 {
  margin: 5px;
  padding: 10px;
    border: 0px solid black;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (max-width: 400px) {           /*media query*/
   footer{
     font-size: 10px;
   }

    section { align-items: center;;
      flex-direction: column;
  }

b{
font-size: 70px;
}

i{
  font-size: 30px;
}

  img.home{
    width: 220px;
    height:220px;
  }

span{
    font-size: 28px;
  }

img.cv1{
  width: 150px;
  height: 150px;
}
ul.cv{
  font-size: 14px;
}

h2{
  font-size: 15px;
}


div.cvcontainer2{
  border:none;
}

div.cvcontainer3{
  border:none;
}

form{
  height: 230px;
  width:200px;
}

form label{
  font-size: 11px;
}

form input{
  margin: 2px 0px 2px 0px;
  padding: 2px 4px;
  height: 5px;
  width: 200px;
}

textarea{
  height: 40px;
  width: 200px;
}

button{
font-size: 5px;
}
nav{
  font-size: 12px;
}
img.icon {
    height: 13px;
    width: 16px;
}

}
